{% extends 'template_base.html' %}

{% block title %}{{ title }}{% endblock title %}
{% block header %}{{ title }}{% endblock header %}

{% block content %}
{% load post_extras %}
<div class="entry inner">
    <h1>{{ st.status_text }}</h1>
    <p>Автор: {{ st.status_author }}</p>
</div>
<div id="respond">
<form action="/create-a-ticket/" method="post" name="add-ticket">
{{form}}
<p id="ticket-create">
    <input type="submit" name="submit" id="submit" value="Сохранить">
</p>
</form>
</div>

{% endblock content %}
