{% extends 'template_base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
{% if form.errors %}
<div class="form-error">
    <ul>
    {% for field in form %}
        {% if field.errors %}
            <li>{{ field.label }}: {{ field.errors|striptags }}</li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% endif %}
<div id="respond">
<form method="post" action="/add-status/">{% csrf_token %}
    {{ form }}
    <p><input type="submit"></p>
</form>
</div>
{% endblock content %}
