{% extends 'template_base.html' %}

{% block title %}{{ paginate.title }}{% endblock title %}
{% block header %}{{ paginate.title }}{% endblock header %}

{% block content %}
{% if  status %}
{% for st in status %}
<li class="ticket">
    <a href="/vote/yes/{{ st.id }}" class="ticket-status new {% if st.id in yes_votes_list %}resolved{% endif %}">{{ st.status_vote_yes }}</a> <a href="/vote/no/{{ st.id }}" class="ticket-status critical {% if st.id in no_votes_list %}resolved{% endif %}">{{ st.status_vote_no }}</a>
    <h2 class="ticket-title">{{ st.status_text }}</h2>
    <ul class="ticket-meta" style="display:none">
        <li><small>Автор</small><a href="/autor/{{ st.status_author.id }}" title="Просмотреть все статусы автора {{ st.status_author }}">{{ st.status_author }}</a></li>
        <li><small>Добавлен</small><a href="#" title="Просмотреть по дате {{ st.status_date|date:"D d M Y" }}" rel="category tag">{{ st.status_date|date:"D d M Y" }}</a></li>
        {% if  st.status_source %}<li><small><a href="#" title="Просмотреть по ресурсу" rel="category tag">Ресурс</small>{{ st.status_source }}</a></li>{% endif %}
        {% if  st.status_rating != 0 %}<li><small>Рейтинг</small>{{ st.status_rating }}</li>{% endif %}
    </ul>
</li>
{% endfor %}
{% endif %}
{% if not status %}
<li class="ticket">
    <h2 class="ticket-title">{{ paginate.error }}</h2>
</li>
{% endif %}
{% endblock content %}

{% block nav %}
<ul>
    <li><a href="{{ paginate.prev.link }}">{{ paginate.prev.date }}</a></li>
{% if paginate.next.date %}
    <li class="alignright"><a href="{{ paginate.next.link }}">{{ paginate.next.date }}</a></li>
{% endif %}
</ul>
{% endblock nav %}
