{% extends 'template_base.html' %}

{% block title %}{{ title }}{% if status.has_other_pages %} &rarr; Страница {{ status.number }}{% endif %}
{% endblock title %}{% block header %} {{ title }} {% if status.has_other_pages %} <span>&rarr;</span> Страница {{ status.number }}{% endif %}
 {% endblock header %}

{% block description %}{{ description }}{% endblock description %}

{% block content %}
{% load post_extras %}
{% for st in status.object_list %}
<li class="ticket">
    <a href="/vote/yes/{{ st.id }}" class="ticket-status new {% if st.id in yes_votes_list %}resolved{% endif %}">{{ st.status_vote_yes }}</a> <a href="/vote/no/{{ st.id }}" class="ticket-status critical {% if st.id in no_votes_list %}resolved{% endif %}">{{ st.status_vote_no }}</a>
    <h2 class="ticket-title">{{ st.status_text }}</h2>
    <ul class="ticket-meta">
        {% if st.status_author %}
            <li><small>Автор</small><a href="/autor/{{ st.status_author.id }}" title="Просмотреть все статусы автора {{ st.status_author.first_name }} {{ st.status_author.last_name }}">{{ st.status_author.first_name }} {{ st.status_author.last_name }}</a></li>
        {% endif %}
        <li><small>Добавлен</small><a href="/date/{{ st.status_date }}" title="Просмотреть по дате {{ st.status_date|date:"D d M Y" }}" rel="category tag">{{ st.status_date|date:"D d M Y" }}</a></li>
        {% if  st.status_rating != 0 %}<li><small>Рейтинг</small><a href="/rating/{{ st.status_rating|point_to_dash }}" title="Просмотреть по рейтингу">{{ st.status_rating }}</a></li>{% endif %}
        <li><small>Просмотреть/установить</small><a href="/status/{{ st.id|add_zero }}" title="Просмотреть по рейтингу">#{{ st.id|add_zero }}</a></li>
        {% if user.is_superuser %}<li><small>Администрирование</small><a href="{{ st.get_edit_url }}" title="Просмотреть по рейтингу">Редактировать</a></li>{% endif %}
    </ul>
</li>
{% endfor %}

{% endblock content %}

{% block nav %}
{% if status.has_other_pages %}
<ul>
{% if status.has_previous %}
    <li><a href="?page={{ status.previous_page_number }}">Предыдущие</a></li>
{% endif %}

{% if status.has_next %}
    <li class="alignright"><a href="?page={{ status.next_page_number }}">Следующие</a></li>
{% endif %}
</ul>
{% endif %}
{% endblock nav %}
