{% extends 'template_base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<!-- <li class="ticket">
<form method="post" action="/add-status/">
<h2>Текст статуса:</h2>
<textarea name="status_source" cols="50" rows="3"></textarea>
<h2>Ресурс:</h2>
<input name="status_text" type="text" /><br />
<p><input type="submit"></p>
 </form>
</li> -->
{% if form.errors %}
<div class="form-error">
    <ul>
    {% for field in form %}
        {% if field.errors %}
            <li>{{ field.label }}: {{ field.errors|striptags }}</li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% endif %}
<form method="post" action="/add-status/">{% csrf_token %}
    {{ form }}
    <p><input type="submit"></p>
</form>
{% endblock content %}
