{% extends 'template_base.html' %}

{% block title %}{{ title }}{% endblock title %}
{% block description %}{{ description }}{% endblock description %}
{% block content %}
{% if form.errors %}
<div class="form-error">
    <ul>
    {% for field in form %}
        {% if field.errors %}
            <li>{{ field.label }}: {{ field.errors|striptags }}</li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% endif %}
<li class="ticket">
    <h2 class="ticket-title">Перед добавлением нового статуса</h2>
    <ul class="ticket-meta">
        <li>
            <ul>
                <li>Воспользуйтесь поиском и убедитесь что Ваш статус оригинален;</li><br/>
                <li>Ваш статус проходит модерацию, поэтому спам не опубликуется;</li><br/>
                <li>Cтатусы с бессмысленными подписями типа "вдлпоегн" или "874675* никогда не попадут на сайт;</li>
            </ul><br/>
        </li>
    </ul>
</li>
<li class="ticket">
    <h2 class="ticket-title">Как грамотно добавить статус</h2>
    <ul class="ticket-meta">
        <li>
            <ul>
                <li>Статус должен начинаться с заглавной буквы;</li><br/>
                <li>Статус должен содержать не более 140-ка символов;</li><br/>
                <li>Между словами нужно ставить только один пробел;</li><br/>
                <li>Знаки препинания (точки, запятые, двоеточия, точка с запятой) пишутся слитно с тем словом, после которого они стоят;</li><br/>
                <li>Между знаком препинания и следующим словом (если оно есть) ставится один пробел.</li><br/>
            </ul><br/>
        <p>Нарушение этих правил сводят к нулю шансы статуса быть опубликованным.</p>
        </li>
    </ul>
</li>
<li class="ticket">
    <h2 class="ticket-title">С чем Вы согласны нажимая кнопку "Добавить"</h2>
    <ul class="ticket-meta">
        <li>
        <p>Запрещено размещение статусов:</p>
        <ul>
            <li>подразумевающих призывы к насилию либо межнациональной вражде, оскорбление высших должностных лиц и т.п...</li><br/>
            <li>пропаганда любых организаций и движений;</li><br/>
            <li>единственная цель которых вызывать негативные эмоции, либо нарушающие общепринятые этические нормы;</li><br/>
            <li>содержащими грамматические и орфографические ошибки;</li><br/>
            <li>повторение статусов или повторное добавление удаленных статусов;</li><br/>
            <li>реклама и спам любых форм.</li><br/>
        </ul><br/><br/>
        <p>За нарушением правил следует бан аккаунта с автоматическим удалением всех статусов нарушителя.</p>
        </li>
    </ul>
</li>
<div id="respond">
<form method="post" action="/add-status/">{% csrf_token %}
    {{ form }}
    <p><input type="submit" value="Добавить"></p>
</form>
</div>
{% endblock content %}
