<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta charset="UTF-8" />
    <title>Vstatuse &rarr; Статусы в контакте &rarr; {% block title %}Vstatuse{% endblock title %}</title>
    <meta name="Description" content="{% block description %}Статусы в контакте {% endblock description %}">
    <link rel="stylesheet" type="text/css" media="all" href="/stat/css/style.css" />
    <script type="text/javascript" src="/stat/js/jquery-1.3.2.js"></script>
    <script type="text/javascript" src="/stat/js/jquery.custom.js"></script>
    <script type="text/javascript" src="/stat/js/extentions.js"></script>
    <script src="http://s1.loginza.ru/js/widget.js" type="text/javascript"></script>
</head>{% load post_extras %}
<body class="home blog">
    <div id="container">
        <div id="top">
<div id="menu" class="menu-navigation-container">
    <ul id="access">
        <li>Cтатусов: <b>{{ all_status_count }}</b></li>
        <li>Пользователей: <b>{{ all_user_count }}</b></li>
    </ul>
</div>
<div id="logged-in">{% if user.is_superuser %}
<a href="/vs-admin/all/start">Постатусный редактор</a> <a href="">Пересчитать рейтинги</a>
 {% else %}<a href="#">Новости</a> <a href="#">Небольшая справка</a>{% endif %}
    {% if user.is_authenticated %}
    <a href="#" title="Просмотр профиля">{{user.first_name}} {{user.last_name}}</a> <a href="/logout">Выйти</a>{% else %}
<a href="https://loginza.ru/api/widget?token_url=http://192.168.1.13:8000/registration-confirm/&providers_set=vkontakte" class="loginza">Войти через вконтакт</a>
    {% endif %}
</div>
    </div>
        <div id="branding" role="banner">
            <h1 id="site-title"><a href="/">Vstatuse</a> <span>&rarr;</span> {% block header %}{{ title }}{% endblock header %}</h1>
            <div class="tagline">{{ random_header }}</div>
        </div>
        <div id="content">
            <div id="main" role="main">
                <div id="ticket-manager" class="tabber">
                    <div class="tabber-navigation">
                        <ul>
                           <li {% if current = 'sort' %}class="current-tab"{% endif %}>
                                <a href="/">Сортировка</a>
                                <ul class="children">
                                    <li><a href="/order-by/date/" title="Отсортировать статусы по дате">по дате</a> </li>
                                    <li><a href="/order-by/rating/" title="Отсортировать статусы по рейтингу">по рейтингу</a> </li>
                                    <li><a href="/random-ten/" title="Случайная десятка">случайная десятка</a> </li>
             {% if yes_votes_list %}<li><a href="/order-by/user-top/" title="Отсортировать статусы по понравившимся">по понравившимся <span>{{ yes_votes_list_count }}</span></a></li>{% endif %}
                               </ul>
                            </li>
                            <li {% if current = 'category' %}class="current-tab"{% endif %}>
                                <a href="#">Категории</a>
                                <ul class="children">
                                {% for c in category %}
                                    <li><a href="/order-by/category/{{ c.category_slug }}" title="Сортировать по категории {{ c.category_name }}">{{ c.category_name }} <span>{{ c.num_status }}</span></a> </li>{% endfor %}
                               </ul>
                            </li>
                            <li {% if current = 'best' %}class="current-tab"{% endif %}>
                                <a href="#">Лучшие</a>
                                <ul class="children">
                                        <li><a href="/order-by/best/day/0" title="Лучшие за день">За день</a> </li>
                                        <li><a href="/order-by/best/week/0" title="Лучшие за неделю">За неделю</a> </li>
                                        <li><a href="/order-by/best/month/0" title="Лучшие за месяц">За месяц</a> </li>
                               </ul>
                            </li>
                            <li {% if current = 'autor' %}class="current-tab"{% endif %}>
                                <a href="#">Авторы</a>
                                <ul class="children">
{% for user in all_user %}
    {% if user.first_name %}
        <li><a href="/autor/{{ user.id  }}" title="Статусы пользователя {{ user.username }}">{{ user.first_name  }} {{ user.last_name  }}
        {% if user.status_count %}
            <span>{{ user.status_count }}</span>
        {% endif %}</a></li>
    {% endif %}
{% endfor %}

                                        <li><a href="/autor/all" title="Просмотреть всех авторов">Все <span>{{ all_user_count }}</span></a> </li>
                               </ul>
                            </li>
                                <li class="alignright">
                                    <a href="/add-status/">Добавить cтатус</a>
                                </li>
                        </ul>
                    </div>
                    <div id="recent-tickets" class="panel">
<ol class="ticket-list">
{% block content %}{% endblock content %}
</ol>

            <div class="tabber-navigation bottom">
            {% block nav %}{% endblock nav %}
            </div><!-- #nav-above -->
                    </div>
                </div><!-- End #ticket-manager -->
            </div><!-- End #main -->
            <div id="sidebar" class="widget-area" role="complementary">
                <ul class="submenu">
                <li id="search-3" class="widget-container widget_search"><form role="search" method="get" id="searchform" action="#" >
    <div><label class="screen-reader-text" for="s">Search for:</label>
    <input type="text" value="" name="s" id="s" />
    <input type="submit" id="searchsubmit" value="Search" />
    </div>
    </form>
</li>{% if user.is_superuser %}
<li id="cat-tax-3" class="widget-container widget_cat-tax">
    <h3 class="widget-title">Статистика</h3>
    <ul>
        <li><a href="#" title="Просмотреть статусы любой категории">Всего статусов</a>  <a href="#" class="rss"><b>({{ all_user_count_p|all_status }})</b></a></li>
        <li><a href="#" title="Просмотреть не подтвержденные статусы всех админов">Не подтвержденных</a> <a href="#" class="rss"><b>({{all_user_count_p|all_status_d}})</b></a></li>
        <li><a href="#" title="Просмотреть свои не подтвержденные статусы">Своих не подтвержденных</a> <a href="#" class="rss"><b>({{user.username|all_status_d}})</b></a></li>
    </ul>
</li>{% endif %}

<li id="recent-comments-2" class="widget-container widget_recent_comments">
    <h3 class="widget-title">Лучшие авторы</h3>
    <ul>{% for user in all_user %}
    {% if user.last_name %}
        <li><a href="/autor/{{ user.id  }}" title="">{{ user.first_name  }} {{ user.last_name  }}</a>
            {% if user.status_count %}
                <a href="/autor/{{ user.id  }}" class="rss"><b>({{ user.status_count }})</b></a>
            {% endif %}</li>
    {% endif %}{% endfor %}
    </ul>
</li>
{% if yes_votes_list %}
<li id="recent-comments-3" class="widget-container widget_recent_comments">
    <h3 class="widget-title">Своё</h3>
    <ul>
        <li><a href="/order-by/user-top/" title="Отсортировать статусы по понравившимся">Понравилось</a> <a href="/order-by/user-top/" class="rss"><b>({{ yes_votes_list_count }})</b></a></li>
    </ul>
</li>{% endif %}

</ul>
</div>
</div>
<div id="footer">
    <ul>
        <li>Сделано при помощи <a href="http://sdesign.com.ua">sdesign.com.ua</a> и <a href="http://kwblog.net">Yegor Kowalew</a>
        <li class="alignright">Верисия: 1.0 Beta.</li>
    </ul>
    </div>
</div>
    </body>
</html>
